DEBUG=True
ALLOWED_HOSTS="localhost 127.0.0.1"
DJANGO_SECRET_KEY=[REDACTED]

POSTGRES_USER=[REDACTED]
POSTGRES_PASSWORD=[REDACTED]
POSTGRES_DB=[REDACTED]
PGADMIN_DEFAULT_EMAIL=[REDACTED]
PGADMIN_DEFAULT_PASSWORD=[REDACTED]